# Compiled Object Files
*.slo
*.lo
*.o

# Compiled Dynamic Libraries
*.so*
*.so.1*

# Compiled Static Libraries
*.lai
*.la
*.a

# Ignored Files
*.ignore

# Backup Files
*~

# Unsaved Files
*#
.#*

# Text Files
*.txt

# Dependency Files
*.dep

# Asset Development Files
*.xcf
*.blend
*.mtl
*.blend